<!DOCTYPE html>
<html>
<head>
  <title>Urlogger</title>
  <%= stylesheet_link_tag    "urlogger/application", media: "all" %>
  <%= javascript_include_tag "urlogger/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
